.index{
    -fx-background-image: url("../image/login_backgroud.jpg") no-repeat left center;
    -fx-background-size:cover;
}
.menu{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color:#00FFFF;
}
.reset{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color:#FF4500;
}
.account_label,.password_label,.error{
    -fx-text-fill:#FF4500;
}