.index{
    -fx-background-image: url("login.jpg") no-repeat left center;
    -fx-background-size:cover;
}
.login{
    /*-fx-text-fill:#7CFC00;
    -fx-color:#CCCCCC;*/
    -fx-background-image: url("loginbutton.jpg") no-repeat left center;
    -fx-background-size:cover;
    -fx-background-radius: 5.0px;
}
.reset{
    -fx-text-fill:#FF4500;
    -fx-color:#CCCCCC;
}
.welcome{
    -fx-text-fill:#FF4500;
    -fx-font-size:25;
}
.account_label,.password_label,.error{
    -fx-text-fill:#FF4500;
}
.login,.reset{
    -fx-padding:5;
}